[submodule "vimplugins/vim-cpp"]
	path = vimplugins/vim-cpp
	url = https://github.com/vim-jp/vim-cpp.git
[submodule "vimplugins/bad-whitespace"]
	path = vimplugins/bad-whitespace
	url = https://github.com/bitc/vim-bad-whitespace.git
[submodule "vimplugins/airline"]
	path = vimplugins/airline
	url = https://github.com/bling/vim-airline
[submodule "vimplugins/file-line"]
	path = vimplugins/file-line
	url = https://github.com/bogado/file-line.git
[submodule "vimplugins/ctrlp"]
	path = vimplugins/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vimplugins/cpp-enhanced-highlight"]
	path = vimplugins/cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "vimplugins/airline-themes"]
	path = vimplugins/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vimplugins/easymotion"]
	path = vimplugins/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vimplugins/vim-snippets"]
	path = vimplugins/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vimplugins/terminus"]
	path = vimplugins/terminus
	url = https://github.com/wincent/terminus.git
[submodule "vimplugins/asyncrun"]
	path = vimplugins/asyncrun
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "vimplugins/vim-ack"]
	path = vimplugins/vim-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vimplugins/tmuxline"]
	path = vimplugins/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vimplugins/nerdtree"]
	path = vimplugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimplugins/nerdtabs"]
	path = vimplugins/nerdtabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vimplugins/tagbar"]
	path = vimplugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vimplugins/undotree"]
	path = vimplugins/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vimplugins/devicons"]
	path = vimplugins/devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vimplugins/fugitive"]
	path = vimplugins/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimplugins/ultisnips"]
	path = vimplugins/ultisnips
	url = https://github.com/SirVer/ultisnips.git
